<?xml version="1.0"?>
<launch>
	<node pkg="nodelet" type="nodelet" name="nav_nodelet_manager" args="manager" output="screen"/>
	
	<!-- Map server -->
	<arg name="map" default="willowgarage_map"/>
	
	<node name="map_server" pkg="map_server" type="map_server" args="$(find hg_robot_2dnav)/maps/$(arg
		map).yaml"/>
	
	<arg name="initial_pose_x" default="0.0"/>	
	<arg name="initial_pose_y" default="0.0"/>	
	<arg name="initial_pose_a" default="0.0"/>
	
	<include file="$(find hg_robot_2dnav)/launch/amcl.launch.xml">
		<arg name="initial_pose_x" value="$(arg initial_pose_x)"/>
		<arg name="initial_pose_y" value="$(arg initial_pose_y)"/>
		<arg name="initial_pose_a" value="$(arg initial_pose_a)"/>
		
		<arg name="name" value="omnibot"/>
	</include>
	
	<include file="$(find hg_robot_2dnav)/launch/move_base.launch.xml">
		<!--arg name="custom_param_file" value="$(arg custom_param_file)"/-->
		<!--arg name="custom_param_file" value="$(arg custom_param_file)"/-->
		<arg name="name" value="omnibot"/>
	</include>
	
</launch>