<?xml version="1.0"?>
<!--
    ENTRY FILE FOR LAUNCHING FULL SIMULATION
    Company : Obodroid Corporation
    Author : Theppasith N. <theppasith@gmail.com>
-->

<launch>

  <!-- Parameters by Console Arguments -->
  <arg name="model_name" default="kamtoa_robot"/>
  <arg name="urdf_path"  default="$(find kamtoa_description)/urdf/kamtoa_prototype/$(arg model_name).xacro"/>
  <arg name="world_name" default="building1.world"/>

  <!-- ROBOT Description file for RVIZ and Gazebo [Globally Set]-->
  <param name ="robot_description" command="$(find xacro)/xacro --inorder $(arg urdf_path)" />

  <!-- Initialize RVIZ for visualize sensing system -->
  <!-- use model from robot_description param-->
  <include file="$(find som_o_description)/launch/rviz_gui.launch" />

  <!-- Initialize Gazebo World -->
  <include file="$(find kamtoa_gazebo)/launch/world.launch">
      <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <!-- Spawn URDF in the gazebo world -->
  <!-- use model from robot_description param-->
  <include file="$(find kamtoa_gazebo)/launch/spawner.launch">
      <arg name="model_name" value="$(arg model_name)"/>
      <!-- Param name robot_description (global) -->
  </include>

</launch>
