<?xml version="1.0"?>
<launch>

  <!-- Initialize RVIZ  -->
  <include file="$(find kamtoa_description)/launch/view_static_robot.launch" />
  <!-- <include file="$(find kamtoa_description)/launch/kamtoa_empty.launch" /> -->

  <!-- Initialize Gazebo and Spawn URDF Model -->
  <include file="$(find kamtoa_gazebo)/launch/kamtoa_world.launch" />

  <!-- Need to run Keyboard Teleop Node Manually (Display Convienient) -->

</launch>
