<?xml version="1.0"?>
<launch>

     <!-- Initiate the SOM_O Controller ! -->
    <include file="$(find som_o_base)/launch/config/som_o_motor_driver2.launch"/>
    <!-- Transformation on Robot , Sensor Placement -->
    <include file="$(find som_o_base)/launch/config/tf_static.launch"/>
    <!-- RP-Lidar Node  -->
    <include file="$(find som_o_base)/launch/config/rplidar2.launch"/>
    <!-- Laser filter Node  -->
    <include file="$(find som_o_base)/launch/config/laser_filters.launch"/>
</launch>
