<?xml version="1.0"?>
<!--
    Xacro file for SOM_O_ROBOT (20CM width)
    Company : Obodroid Corporation
    Author : Theppasith N. <theppasith@gmail.com>
-->

<robot name="som_o_robot_25cm" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- Constants -->
  <xacro:include filename="$(find som_o_description)/urdf/25cm/constants.xacro" />

  <!-- Material (Color) -->
  <xacro:include filename="$(find som_o_description)/urdf/shared_components/material.xacro" />

  <!-- Body of Robot -->
      <!-- Footprint (require Base Link inclusion) -->
      <xacro:include filename="$(find som_o_description)/urdf/25cm/base_footprint.xacro" />

      <!-- Base Link (Main chassis) -->
      <xacro:include filename="$(find som_o_description)/urdf/25cm/base_link.xacro" />

      <!-- Wheels (Plugin) -->
      <xacro:include filename="$(find som_o_description)/urdf/shared_components/wheel.xacro" />
      <wheel fb="front" lr="right" parent="base_footprint" translateX="0" translateY="1" flipY="1" />
      <wheel fb="front" lr="left" parent="base_footprint" translateX="0" translateY="-1" flipY="1" />

      <!-- LIDAR (Range Fider) -->
      <xacro:include filename="$(find som_o_description)/urdf/shared_components/lidar.xacro" />

      <!-- Stereo Camera -->
      <xacro:include filename="$(find som_o_description)/urdf/shared_components/multicamera.xacro" />

      <!-- IMU -->
      <xacro:include filename="$(find som_o_description)/urdf/shared_components/imu.xacro" />

  <!-- Gazebo + ROS Differential Drive plugin -->
  <xacro:include filename="$(find som_o_description)/urdf/shared_components/diff_drive_plugin.xacro" />

</robot>
