<?xml version="1.0"?>
<robot name="som_o_robot_20cm" xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- Base_Footprint (ground mark)  -->
    <link name="base_footprint">

    <inertial>
        <mass value="0.0001" />
        <origin xyz="0 0 0" />
        <inertia ixx="0.0001" ixy="0.0" ixz="0.0" iyy="0.0001" iyz="0.0" izz="0.0001" />
    </inertial>

    <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
            <box size="0.001 0.001 0.001" />
        </geometry>
    </visual>
    </link>

    <joint name="base_footprint_joint" type="fixed">
        <origin xyz="0 0 -${wheel_radius}" rpy="0 0 0" />
        <parent link="base_footprint" />
        <child link="base_link" />
    </joint>d

    <gazebo reference="base_footprint">
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

</robot>
