<?xml version="1.0"?>
<robot name="som_o_robot_20cm" xmlns:xacro="http://www.ros.org/wiki/xacro">

<!-- Definitions for colors for using in Gazebo and RViz -->

    <material name="Black">
        <color rgba="0.0 0.0 0.0 1.0" />
    </material>
    <material name="Red">
        <color rgba="0.8 0.0 0.0 1.0" />
    </material>
    <material name="White">
        <color rgba="1.0 1.0 1.0 1.0" />
    </material>
    <material name="Blue">
        <color rgba="0.0 0.0 0.8 1.0" />
    </material>

</robot>
