<?xml version="1.0"?>
<!-- Ground station Launch File -->
<launch>

    <!-- Run the joystick driver and joystick teleop cmd_vel node -->
    <include file="$(find kamtoa_teleop)/launch/teleop_joystick.launch" />

    <!-- Run RQT GUI With the custom perspective -->
    <include file="$(find kamtoa_bringup)/launch/gui/rqt_gui.launch"/>

</launch>
