<launch>

    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="ros_joy_node">
        <param name="dev" type="string" value="/dev/input/js2"/>
        <!-- <param name="deadzone" value="0.12"/> -->
    </node>

    <!-- Axes -->
    <param name="axis_linear" value="1" type="int"/>
    <param name="axis_angular" value="3" type="int"/>
    <param name="button_deadman_switch" value="2" type="int"/>
    <!-- <param name="light1" value="4" type="int"/>
    <param name="light2" value="4" type="int"/>
    <param name="light3" value="4" type="int"/>
    <param name="light4" value="4" type="int"/> -->
    
    <!-- 3 For Seperation Joy -->
    <param name="scale_linear" value="1.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>
    <node pkg="kamtoa_teleop" type="kamtoa_joystick" name="kamtoa_joystick" output="screen" />


</launch>
