<?xml version="1.0"?>
<!-- Audio Launch-->
<launch>
  <arg name="device" default=""/>
  <arg name="channels" default="1"/>
  <arg name="sample_rate" default="44100"/>
  <arg name="robot_namespace" default="robot"/>
  <arg name="ground_namespace" default="ground"/>

  <group ns="$(arg robot_namespace)">
  <node name="robot_audio_capture" pkg="audio_capture" type="audio_capture" output="screen">
    <param name="bitrate" value="128"/>
    <param name="device" value="$(arg device)"/>
    <param name="channels" value="$(arg channels)"/>
    <param name="sample_rate" value="$(arg sample_rate)"/>
  </node>
  </group>

  <group ns="$(arg ground_namespace)">
  <node name="robot_audio_play" pkg="audio_play" type="audio_play" output="screen">
    <param name="dst" value="alsasink"/>
  </node>
  </group>


</launch>
