<?xml version="1.0"?>
<launch>
    <!-- Python Script to connect with iCreate Roomba -->
    <include file="$(find kamtoa_base)/launch/config/create_node.launch"/>
    <!-- Transformation on Robot , Sensor Placement -->
    <include file="$(find kamtoa_base)/launch/config/tf_static.launch"/>
    <!-- RP-Lidar Node  -->
    <include file="$(find kamtoa_base)/launch/config/rplidar.launch"/>
</launch>
