<?xml version="1.0"?>
<launch>

     <!-- Initiate the iCreate Controller ! -->
    <node pkg="som_o_driver" type="som_o_driver_node" name="DriverSomO" output="screen"/>

    <!-- Transformation on Robot , Sensor Placement -->
    <include file="$(find kamtoa_base)/launch/config/tf_static_som_o.launch"/>
    <!-- RP-Lidar Node  -->
    <include file="$(find kamtoa_base)/launch/config/rplidar.launch"/>
    <!-- Laser filter Node  -->
    <include file="$(find kamtoa_base)/launch/config/laser_filters_som_o.launch"/>
</launch>
