<?xml version="1.0"?>
<launch>
    <arg name="joy" default="0" />
    <!-- joy node -->
    <node respawn="true" pkg="joy" type="joy_node" name="ros_joy_node">
        <param name="dev" type="string" value="/dev/input/js$(arg joy)"/>
        <!-- <param name="deadzone" value="0.12"/> -->
    </node>

    <!-- Axes -->
    <param name="axis_linear" value="1" type="int"/>
    <param name="axis_angular" value="3" type="int"/>
    <param name="button_deadman_switch" value="2" type="int"/>

    <param name="scale_linear" value="0.25" type="double"/>
    <param name="scale_angular" value="1.0" type="double"/>

    <node  pkg="som_o_teleop" type="som_o_joystick" name="som_o_joystick" output="screen" />
</launch>
