<?xml version="1.0"?>
<!--
    ENTRY FILE FOR LAUNCHING FULL SIMULATION
    Company : Obodroid Corporation
    Author : Theppasith N. <theppasith@gmail.com>

    Example Run command : roslaunch gazebo_som_o.launch size:="20"
    (For 20cm model simulation)

-->

<launch>
    <!--Simulation -->
    <param name ="use_sim_time" value="true" />

  <!-- Parameters by Console Arguments -->
  <arg name="size" default="20"/>
  <arg name="model_name" default="som_o_robot_$(arg size)cm"/>
  <arg name="urdf_path"  default="$(find som_o_description)/urdf/$(arg size)cm/$(arg model_name).xacro"/>
  <arg name="world_name" default="whiz_ex_decorated.world"/>

  <!-- ROBOT Description file for RVIZ and Gazebo [Globally Set]-->
  <param name ="robot_description" command="$(find xacro)/xacro --inorder $(arg urdf_path)" />

  <!-- Initialize RVIZ for visualize sensing system -->
  <!-- use model from robot_description param-->
  <include file="$(find som_o_description)/launch/rviz_gui.launch" />

  <!-- Initialize Gazebo World -->
  <include file="$(find som_o_gazebo)/launch/world.launch.xml">
      <arg name="world_name" value="$(arg world_name)"/>
  </include>

  <!-- Spawn URDF in the gazebo world -->
  <!-- use model from robot_description param-->
  <include file="$(find som_o_gazebo)/launch/spawner.launch.xml">
      <arg name="model_name" value="$(arg model_name)"/>
      <!-- Param name robot_description (global) -->
  </include>

</launch>
