<launch>
 <!-- Setup the Configuration of ROBOT -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_broadcaster" 
    args="0.07 0 0.183091 0 0 1 0 base_link laser 100" />

    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" 
    args="0 0 0.04 0 0 0 1 base_footprint base_link 100" />
    
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_imu_broadcaster"
     args="0.0 0.0 0.0 0 0 0 1 base_link gyro_link 100" />
</launch>
