<launch>
    <!-- joy node 
    <node respawn="true" pkg="joy" type="joy_node" name="ros_joy_node">
        <param name="dev" type="string" value="/dev/input/js0"/>
    </node> -->

    <!-- Axes -->
    <param name="axis_linear" value="1" type="int"/>
    <param name="axis_angular" value="0" type="int"/>
    <param name="button_deadman_switch" value="2" type="int"/>
    <!-- 3 For Seperation Joy -->
    <param name="scale_linear" value="1.5" type="double"/>
    <param name="scale_angular" value="1.5" type="double"/>

    <node pkg="kamtoa_teleop" type="kamtoa_joystick" name="kamtoa_joystick" output="screen" />

    <!-- Initiate the iCreate Controller ! -->
    <node pkg="create_node" type="turtlebot_node.py" name="iCreate_controller" output="screen">
      	<param name="port" type="string" value="/dev/ttyUSB0"/>
        <param name="publish_tf" type="string" value="True"/>
	<param name="cmd_vel_timeout" value="1000.0" type="double" />
    </node>

    <!-- Setup the Configuration of ROBOT -->
    <node pkg="tf" type="static_transform_publisher" name="base_link_to_laser_broadcaster" args="0 0 0 0 0 0 1 base_link laser 100" />
    <node pkg="tf" type="static_transform_publisher" name="base_footprint_to_base_link" args="0 0 0.1 0 0 0 1 base_footprint base_link 100" />


<node name="rplidarNode"          pkg="rplidar_ros"  type="rplidarNode" output="screen">
        <param name="serial_port"         type="string" value="/dev/ttyUSB1"/>
        <param name="serial_baudrate"     type="int"    value="115200"/>
        <param name="frame_id"            type="string" value="laser"/>
        <param name="inverted"            type="bool"   value="false"/>
        <param name="angle_compensate"    type="bool"   value="true"/>
    </node>

</launch>
